<header id="navbar">

    <h4 data-channel="ROUTE" data-route-val="/" data-page-id="home" class="nav-btn home-btn">App</h4>
    <h6 data-channel="ROUTE" data-route-val="page-one" data-page-id="page-one" class="nav-btn page-btn">Page One</h6>
    <h6 data-channel="ROUTE" data-route-val="page-two" data-page-id="page-two" class="nav-btn page-btn">Page Two</h6>
    <h6 data-channel="UI" data-route-val="/ui" data-page-id="test-ui" class="nav-btn page-btn">TEST UI</h6>
    <h6 data-channel="UI" data-route-val="/ui-btn" data-page-id="ui-btn" class="nav-btn-ui page-btn">UI Btn</h6>

</header>
