<header id="navbar">

    <h4 data-channel="ROUTE"  data-page-id="home" class="nav-btn home-btn">App</h4>
    <h6 data-channel="ROUTE"  data-page-id="gallery" class="nav-btn page-btn">gallery</h6>
    <h6 data-channel="ROUTE"  data-page-id="photographers" class="nav-btn page-btn">photographers</h6>
    <h6 data-channel="UI" data-route-val="/ui" data-page-id="test-ui" class="nav-btn page-btn">TEST UI</h6>
    <h6 data-channel="UI" data-route-val="/ui-btn" data-page-id="ui-btn" class="nav-btn-ui page-btn">UI Btn</h6>

</header>
