#example-app {
    #images-container {
        position: relative;
        width: 100vw;
        //transform: translateZ(0);
        //background: hsl(0,0,80%);
        //max-width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       // flex-direction: column;
       // justify-content: center;
       // align-items: center;
        margin:40px 0 0 0 ;
        padding: 20px 0;
        background: cadetblue;
        article {
            position: relative;
            max-width: 750px;
            padding:0 0 10px 0;
            margin: 0 0 20px 0;
            min-width: 320px;
            width:100%;
            //transform: translateZ(0);

            //background: hsl(0,0,90);
/*
            // background: orange;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
            //transition: all 0.125s cubic-bezier(.25,.8,.25,1);
            // height: 360px;
           // height: 580px;
            transition: all .3s  ease-in-out;

            &.fadeout-image {
                opacity:0;
                transition: all .5s ease-out;
                //height: 20px;
            }

            &:hover {
               // box-shadow: 0 7px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

            }

            &.expand{
                height: 100vh;
                width: 100vw;
                pointer-events: none;
                touch-action: none;

                /* dl {
                     height: 100vh;
                     width: 100vw;

                     dt {
                         padding-bottom: calc(100vh - 601px * 0.08) !important;
                     }
                 }*/
            }

            dl {
                position: relative;
                display:flex;
                flex-direction: column;
                justify-content: center;
                margin:0;
                padding:0;

                width:100%;
               // min-width: 300px;
               // min-height: 200px;
                // max-height: 30vh;
               // width:80%;
                overflow: hidden;
                color:#000;

                //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.125s cubic-bezier(.25,.8,.25,1);

                &:hover {
                    //    box-shadow: 0 7px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

                }

                dt {
                    position: relative;
                    width: 100%;
                   // object-fit: contain;
                    padding:0;
                    margin:0;
                   // padding-bottom: 66.67%;
                    transition: all .25s ease;
                    img {
                        position:absolute;
                        width: 100%;
                       // object-fit: contain;
                        padding:0;
                        margin:0;
                        opacity: 0;
                        transition: opacity .5s ease;

                        &.reveal{
                            opacity: 1;
                        }
                    }
                    span {
                        position:absolute;
                        top:10px;
                        left:10px;
                        color:#fff;
                        z-index: 100;
                    }

                }

                dd{
                    position:relative;
                    width:100%;
                    margin:0;
                    padding: 10px;
                    background: #fff;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    h2,h3,h4,h5 {
                        position: relative;
                        margin:0;
                        padding:0;
                        color: #4242c4;
                    }

                }
            }

        }

    }

}
