#example-app {
    #images-container {
        position: relative;
        width: 100vw;
        //background: hsl(0,0,80%);
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:40px 0 0 0 ;
        padding: 20px 0;
       // background: blue;
        article {
            position: relative;
            max-width: 550px;
            padding:10px 0;


            dl {
                position: relative;
                display:flex;
                flex-direction: column;
                justify-content: center;
                margin:0;
                padding:0;
                background: hsl(0,0,90);
                border-radius: 2px;

                // max-height: 30vh;
               // width:80%;
                overflow: hidden;
                color:#000;

                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.125s cubic-bezier(.25,.8,.25,1);

                &:hover {
                        box-shadow: 0 7px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);

                }

                dt {
                    position: relative;
                    width: 100%;
                    object-fit: contain;
                    padding:0;
                    margin:0;
                    img {
                        position:relative;
                        width: 100%;
                        object-fit: contain;
                        padding:0;
                        margin:0;
                    }
                    span {
                        position:absolute;
                        top:10px;
                        left:10px;
                        color:#fff;
                        z-index: 100;
                    }

                }

                dd{
                    position:relative;
                    width:100%;
                    margin:0;
                    padding:0 10px;

                }
            }

        }

    }

}
