#example-app {
    #photogs-container {
        position: relative;
        width: 100vw;
        //background: hsl(0,0,80%);
        // max-width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:40px 0 0 0 ;
        padding: 20px;
       // background: blue;
        article {
            position: relative;
           // max-width: 750px;
            width:100%;
            padding:10px 20px;
            margin:7px 0;
            min-width: 300px;
            display: flex;
            flex-direction: row;
            background: rgba(0,0,0,0.055);
            border-bottom: 2px solid rgba(0,0,0,.1);

            dl {
                position: relative;
                display:flex;
                flex-direction: row;
                justify-content: center;
                margin:0;
                padding:0;
              //  background: hsl(0,0,90);
                border-radius: 2px;
                width:100%;
                min-width: 300px;
                min-height: 200px;
                // max-height: 30vh;
               // width:80%;
                overflow: hidden;
                color:#000;



                dt {
                    position: relative;
                    object-fit: contain;
                    padding:0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 2vw 0 0;
                    // overflow: hidden;
                    img {
                        position:relative;
                        object-fit: contain;
                        padding:0;
                        margin:0;
                        border-radius: 50%;
                        width: 10vw;
                        max-width: 120px;
                        min-width: 20px;
                    }
                    span {
                        position:relative;
                        color:cornflowerblue;
                        top:10px;
                        left:10px;
                        z-index: 100;
                        max-width: 150px;
                        overflow: hidden;;
                    }

                }

                dd{
                    position:relative;
                    width:100%;
                    margin:0;
                    padding:0 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                }
            }

        }

    }

}
