#example-app {

    section#menu {
        position: fixed;
        top:0;
        width:100vw;
        display:flex;
        flex-direction: row;
        z-index: $z-index-menu;
        transition: top .5s ease;
        &.hide{
            top:-45px;
        }

        color:#fff;
        header#navbar {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: darkblue;
            padding: 2px 0 8px 0;

            box-shadow: 0 3px 3px  rgba(0,0,0,.3);
            width: 100%;



            h4,h6{
                position:relative;
                padding:0 10px;
                margin:0 2px;
                cursor:pointer;
            }
            h4{
                margin: 4px 2px 0px 2px;
            }

        }


        svg{
            position: relative;
            left:0;
            top:0;
            width: 30px;
            height: 30px;

                .hamburger-circle{
                    fill:none;
                    stroke:#000;
                    stroke-width: 2px;
                }



                .hamburger-line{
                    fill:none;
                    stroke:#000;
                    stroke-linecap:round;
                    stroke-width:2px;

                }


        }


    }




}
