/*
@font-face {
    font-family: 'museo';
    src: url('fonts/museo_slab_500_2-webfont.woff') format('woff2'),
         url('fonts/museo_slab_500_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normals;

}

*/
