@import "01-vendors/normalize.css";
@import "01-vendors/milligram/milligram.min.css";
@import "02-variables/globals";
@import "02-variables/mixins";
@import "02-variables/shadows";
@import "02-variables/fonts";
@import "03-components/menu.scss";
@import "03-components/images/images.scss";
@import "03-components/photogs/photogs.scss";
@import "03-components/pages/pages.scss";


html {
  //  position:fixed;
    position: relative;
    overflow:default;
    //will-change: scroll-position, top;
    &.expand {
        position: fixed;
        overflow: hidden;;
        //touch-action: none;
       // pointer-events: none;
    }


}






.ball{
    position: relative;;
    width:100px;
    height:100px;
    background: crimson;
    border-radius: 50%;
}




/*
html {
    font-size: 13px;
}
@media screen and (min-width: 320px) {
    html {
        font-size: calc(13px + var(--num) * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 2600px) {
    html {
        font-size: var(--large-size);// 22px;
    }
}

*/

/*

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

h1 {
    font-size: $mod_1*$mod_1*$mod_1*$mod_1 *.8rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {
    font-size: $mod_1*$mod_1*$mod_1 *.6rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 {
    font-size: $mod_1*$mod_1 *.4rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}
*/


body {

    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    line-height: 1.46;
;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    #example-app {
        position: relative;
        width: 100vw;
        height:100vh;
        background: slate;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        background: #333;
        #stage {
            display:none;
            position: relative;
            width:100%;
           // display: flex;
            flex-direction: column;
            justify-content: center;
           // background: orange;

            .panel {
                color: darkblue;
            }
        }
    }
}
